<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esafirm.androidplayground">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".PlaygroundApp"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--Main-->
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.RouterAct"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--Dagger-->
        <activity android:name=".dagger.example.DaggerSampleAct" />

        <!--RxJava-->
        <activity android:name=".rxjava2.RxJava2ObservableFlowableAct" />
        <activity android:name=".rxjava2.RxJava2InteropAct" />
        <activity android:name=".rxjava2.RxJava2NullItemAct" />
        <activity android:name=".rxjava2.RxJava2RetryWhen" />
        <activity android:name=".rxjava2.RxJava2Single" />

        <!--Reductor-->
        <activity android:name=".reductor.ReductorSampelAct" />
        <activity android:name=".reductor.ReductorCounterAct" />

        <!--UI-->
        <activity android:name=".ui.UISampleAct" />
        <activity android:name=".ui.ConstraintLayoutAct" />
        <activity android:name=".ui.SpinnerPositionAct" />
        <activity
            android:name=".ui.ThemedActivity"
            android:theme="@style/AppTheme.Splash" />

        <!--React Native-->
        <activity
            android:name=".rn.ReactActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <!--Others-->
        <activity android:name=".others.LeakTestActivity" />
        <activity android:name=".others.LeakCoroutineActivity" />

        <!--Fragment Samples-->
        <activity android:name=".fragment.ViewPagerCurrentFragmentSampleActivity" />

        <!--Flipper-->
        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />

        <service android:name=".service.SampleService" />

        <!--Init Provider-->
        <provider
            android:name=".startup.LongLibInitProvider"
            android:authorities="{applicationId}.LongLibInit"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
