<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.esafirm.androidplayground">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Main-->
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.RouterAct"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!--Dagger-->
        <activity android:name=".dagger.example.DaggerSampleAct"/>

        <!--RxJava-->
        <activity android:name=".rxjava2.RxJava2SampleAct"/>
        <activity android:name=".rxjava2.RxJava2ObservableFlowableAct"/>
        <activity android:name=".rxjava2.RxJava2InteropAct"/>
        <activity android:name=".rxjava2.RxJava2NullItemAct"/>
        <activity android:name=".rxjava2.RxJava2SchedulerSampleAct"/>
        <activity android:name=".rxjava2.RxJava2RetryWhen"/>
        <activity android:name=".rxjava2.RxJava2Single"/>

        <!--Reductor-->
        <activity android:name=".reductor.ReductorSampelAct"/>
        <activity android:name=".reductor.ReductorCounterAct"/>

        <!--UI-->
        <activity android:name=".ui.UISampleAct"/>
        <activity android:name=".ui.ConstraintLayoutAct"/>
        <activity android:name=".ui.SpinnerPositionAct"/>

    </application>

</manifest>
